@font-face {
    font-family: nino;
    src: url(../fonts/bpg_nino_mtavruli_normal_[FONTS.GE]/bpg_nino_mtavruli_normal.otf);
}

@media (min-width: 1431px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1100px;
}
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.uppernav {
    position: absolute;
    width: 100%;
    background-color: #393b349f;
    z-index: 9999;
    padding-top: 8px;
    padding-bottom: 7px;
}

.lang a {
    color: #ffff;
    font-family: nino;
    font-size: 15px;
}

.rightlist a {
    color: #ffff;
    font-size: 15px;
    font-family: nino;
    padding-left: 13px;
}

.bg-light {
    background-color: #f8f9fa!important;
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: 9999;
    border-top: 1px solid #6a6a6a;
    padding: 21px 0px 21px 0px;
    height: 105px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    font-family: nino;
    color: #6b6b6b;
    font-size: 17px;
    margin: 0px 0px 0px 35px;
}

.navbar-nav .nav-link img {
    padding-right: 17px;
    


}

#dzagli {
    position: relative;
    margin-top: -8px;
    margin-right: 8px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    margin-top: 22px;
    margin-left: 19px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    width: 291px;
    margin-left: 43px;
    font-size: 14px;
    border: 1px solid #6a6a6a;
}

.dropdown-menu::after {
    content: " ";
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    
    
    
}

.dropdown-menu a {
    padding-top: 11px;
    font-size: 14px;
    padding-bottom: 14px;
    color: #616467;
}




.navbar-expand-lg .navbar-nav .dropdown-menu li {
    border-bottom: 1px solid #6a6a6a;
    padding: 0px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li:last-child   {
    border-bottom: none;
}



.carousel-inner {
    height: 728px;
}


.carousel-caption {
    top: 332px;
    text-align: left;

}

.carousel-caption h1 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 19px;
    color: #ffffff;
    font-weight: bold;
    font-family: nino;
}

.carousel-caption p {
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 19px;
    color: #ffffff;
    font-family: "B PG Arial";
}

.srulad a {
    width: 188px;
    height: 49px;
    background-color: #e23848;
    text-align: center;
    padding: 13px 31px 13px 35px;
    color: #ffffff;
    font-size: 17px;
    top: 200px

}

.srulad:hover {
     
    color: #ffffff;

}








.dropdown-toggle::after {
    display: none;
}



section .container {
    margin-top: 30px;
}

.surati {
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    height: 108px;
    padding: 10px;
    width: 100%;
    object-fit: contain;
}