@font-face {
    font-family: monserat;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1170px;

}

header {
    background-image: url(../img/Layer\ 1.png);
    
}
.navbar-brand span{
    display: block;
}

#logo1 {
    font-size: 45px;
    line-height: 164px;
    color: #fde428;
    font-weight: 700;
    
}

#logo2 {
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 51px;
    color: #ffffff;
    font-weight: 700;
}