body {
    background-color: rgb(33, 73, 73);
}


nav {
    display: flex;
     
    justify-content: flex-end;
}

nav img {
    width: 50px;
    /* background-color: aqua; */
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.navmenu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    background-color: rgb(160, 100, 216);
    padding: 20px;
    transform: translate(100%);
    transition: all .7s;
    
}

.navmenu a {
    color:white;
    font-size: 35px;
}

.navmenu li {
    margin-left: 400px;
    padding: 50px;
}

.navmenu.show {
    transform: translateX(0);
}

.gaweva {
    transform: translateX(-53%);
    transition: all 0.7s;
}



