@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    margin:0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    height: 500px;
    background-image: url(../img/1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    width: 150px;
}

header::before{
    content: "";
    background-color: #49556de1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
}

.nav-link {
    color: white !important;
    text-transform: uppercase;
}

.nav-link.active {
    color: #c3962b!important;
}

.content {
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
}

.content h2  {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
}

.btn.rounded-pill.btn-primary {
    margin-right: 15px;
    background-color: #c3962b;
    border: none;
}

.btn-primary:hover {
    background-color: #c3962b;
}

.btn.rounded-pill.btn-outline-primary {
    margin-left: 15px;
    border-color: #c3962b;
    color: #c3962b;
}

.btn.rounded-pill.btn-outline-primary:hover{
    background-color: #c3952b00;
}


.ico i {
    position: absolute;
    margin-top: 90px;
    font-weight: bold;
    font-size: 25px;
}

.section1 {
    padding:20px;
    text-align: center;
}

.surati {
    width: 200px;
    text-align: center;
}

.section2 {
    background-color: #f3f4f8;
    padding: 100px 20px 20px 20px;
    
}

.textsct2 h1 {
    text-align: center;

}

.textsct2 p {
    text-align: center;

}

.xazi {
    width: 40px;
    height: 3px;
    background-color: #c3962b;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
}

.col-md-3 h1 {
    text-align: left;
    color: #8c8d91;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
    
}

.col-md-3 h1::first-letter{
    font-size: 100px;
    
}

.more  {
    color: #c3962b;
}
.more:hover {
    color: #c3962b;
}


.section3 {
    padding: 20px;
    text-align: center;
}

.textsct3 h1  {
    color: #858587;
    font-weight: bolder;
    margin-top: 50px;
}
.textsct3 p {
    color:  #7a7a7a;
}

.images {
    width: 100%;
    height: 200px;
    margin: 10px;
    
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-item::before{
    content: "";
    background-color: #49556de1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;

}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 50px;

}

.carousel-indicators .active {
    background-color: black;
}

.carousel-caption {
    text-align: center;
    
    margin-bottom: 70px;
}

.carousel-caption img {
    width: 80px;
    height: 80px;
    border: 5px solid #feffff;
    border-radius: 50%;
    margin-bottom: 80px;
}



.textsct5 h1 {
    text-align: center;
    color: #69686d;
    font-weight: bolder;
    margin-top: 100px;
    text-transform: uppercase;
    
}

.sect5text {
    margin-top: 20px;
    margin-bottom: 20px;
}



.textsct5 p {
    text-align: center;
}

.lastimg { 
    width: 100%;
    height: 200px;
}

.read {
    color: #69686d;
    text-decoration: none;
}

.read:hover {
    color: #69686d;
    
}

.section6 {
    background-color: #495468;
    padding-bottom: 50px; 
}

.section6 h1 {
    color: white;
}

.section6 p {
    color: white;
}

.section6 .xazi {
    background-color: white;
}

.section6 .col-md-4 {
    display: flex;
    font-size: 18px;
}

.section6 .col-md-4 i {
    color: #c3962b;
    font-size: 25px;
    margin-right: 10px;
}

.section6 input {
    border-color: #c3962b;
    background-color: rgba(255, 255, 255, 0);
    color: #c3962b;
}

.section6 textarea {
    border-color: #c3962b;
    background-color: rgba(255, 255, 255, 0);
    color: #c3962b;
}

.btn.rounded-pill.btn-outline-primary {
    margin-left: 0px;
    border-color: #c3962b;
    color: #c3962b;
}
.section6 button:hover {
    border-color: #c3962b;
    color: #c3962b;
    background-color: #c3952b00;
}

.section7 {
    height: 100px;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.section7 span {
    color: #c3962b;
}